In [1]:
#Now we'll elarn about reindexing

In [2]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [3]:
#Lets create a new series
ser1 = Series([1,2,3,4],index=['A','B','C','D'])

In [4]:
#Show
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
#Call reindex to rearrange the data to a new index
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [6]:
#Show
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [7]:
# We can alos fill in values for new indexes
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [8]:
#Using a particular method for filling values
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])

#Show
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [9]:
#Can use a forward fill for interploating values vetween indices 
ser3.reindex(range(15),method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [10]:
#Reindexing rows, columns or both

#Lets make a datafram ewith some random values
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])

#Show
dframe

       col1      col2      col3      col4      col5
A  0.878431 -0.907730 -0.059176  1.580891  1.492687
B  0.206580  2.043387  0.238718 -0.316274  0.526423
D  1.910160 -0.712169 -0.555970  0.216429  0.886952
E  0.379058  0.643776 -1.161703 -0.769121  0.673962
F  0.870946 -0.567149  1.768390  1.437386 -0.076000

In [11]:
#Notice we forgot 'C' , lets reindex it into dframe
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [12]:
#Can also explicitly reindex columns
new_columns = ['col1','col2','col3','col4','col5','col6']

dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.878431 -0.907730 -0.059176  1.580891  1.492687   NaN
B  0.206580  2.043387  0.238718 -0.316274  0.526423   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.910160 -0.712169 -0.555970  0.216429  0.886952   NaN
E  0.379058  0.643776 -1.161703 -0.769121  0.673962   NaN
F  0.870946 -0.567149  1.768390  1.437386 -0.076000   NaN

In [13]:
#Reindex quickly using the label-indexing with ix (we'll see this more in the future)

#Show original
dframe

       col1      col2      col3      col4      col5
A  0.878431 -0.907730 -0.059176  1.580891  1.492687
B  0.206580  2.043387  0.238718 -0.316274  0.526423
D  1.910160 -0.712169 -0.555970  0.216429  0.886952
E  0.379058  0.643776 -1.161703 -0.769121  0.673962
F  0.870946 -0.567149  1.768390  1.437386 -0.076000

In [14]:
#dframe.iloc[['A','B','C','D','E','F'],new_columns]
# deprecated